<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh sách sản phẩm</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .action {
        display: flex;
        gap: 10px; /* Khoảng cách giữa các nút */
      }
      img {
        max-width: 100px;
        border-radius: 5px; /* Làm mềm các cạnh hình ảnh */
        object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
      }
    </style>
  </head>
  <body>
    <%- include('../inc/header-user.ejs') %>
    <div style="margin-top: 80px; height: 100vh; margin-left: 320px; flex: 1">
      <form style="width: 500px" class="d-flex" method="post" action="/api/search">
        <input
          class="form-control me-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <table style="margin-top: 20px" class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Sản Phẩm</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Giá Bán Hiện Tại</th>
            <th scope="col">Danh Mục</th>
            <th scope="col">Thao Tác</th>
            <th scope="col">Trạng Thái</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < list.length; i++) { %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= list[i].name %></td>
            <td>
              <img
                src="<%= list[i].image %>"
                alt="<%= list[i].name %>"
              />
            </td>
            <td><%= list[i].realPrice %></td>
            <td><%= list[i].category %></td>
            <td>
              <div class="action">
                <a href="#">
                  <button type="button" class="delete button" data-bs-toggle="modal" data-id="<%= list[i]._id %>" data-bs-target="#myModal">
                    <%= list[i].isHide ? 'Khôi Phục Lại' : 'Ngừng Kinh Doanh' %>
                  </button>
                </a>
                <a href="editProduct/<%= list[i]._id %>">
                  <button type="button" class="update button">Sửa</button>
                </a>
              </div>
            </td>
            <td>
              <%= list[i].isHide ? 'Ngừng Kinh Doanh' : 'Đang Hoạt Động' %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ngừng Kinh Doanh?</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Bạn Có Chắc Chắn Muốn Ngừng Kinh Doanh?
            </div>
            <div class="modal-footer">
              <button id="delete-btn" type="button" class="btn btn-success">Đồng Ý</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy Bỏ</button>
            </div>
          </div>
        </div>
      </div>

      <form method="POST" name="delete-product-form" enctype="multipart/form-data"></form>
    </div>

    <%- include('../inc/footer.ejs') %>
    
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var productId;
        var deleteForm = document.forms["delete-product-form"];
        $("#myModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget);
          productId = button.data("id");
        });

        var btnDelete = document.getElementById("delete-btn");
        btnDelete.onclick = function () {
          deleteForm.action = "api/product/delete/" + productId;
          deleteForm.submit();
        };
      });
    </script>
  </body>
</html>
